<section class="contact-section">
  <div class="contact-container">
    <h3>Contacto</h3>
    
    <div class="contact-box">
      <div class="contact-item">
        <span class="contact-label">Correo:</span>
        <a href="mailto:Emmanuelgodi22@gmail.com" class="contact-link">
          Emmanuelgodi22&#64;gmail.com
        </a>
      </div>

      <div class="contact-item">
        <span class="contact-label">LinkedIn:</span>
        <a href="https://www.linkedin.com/in/egodi/" target="_blank" class="contact-link">
          linkedin.com/in/egodi
        </a>
      </div>

      <div class="contact-item">
        <span class="contact-label">GitHub:</span>
        <a href="https://github.com/EmanuelGd300" target="_blank" class="contact-link">
          github.com/EmanuelGd300
        </a>
      </div>

      <div class="contact-item">
        <span class="contact-label">Teléfono:</span>
        <a href="tel:+573136640809" class="contact-link">
          +57 3136640809
        </a>
      </div>

      <div class="contact-item cv-container">
        <span class="contact-label">CV:</span>
        <div class="cv-links">
          <a href="assets/cv/CvEs.pdf" target="_blank" class="cv-link">
            Español
          </a>
          <a href="assets/cv/CvEn.pdf" target="_blank" class="cv-link">
            English
          </a>
        </div>
      </div>
    </div>
  </div>
</section>