<section class="others-section">
  <div class="others-container">
    <h3>Reconocimientos y Participaciones</h3>

    <div class="achievementBox">
      <div class="achievementText">
        <p class="achievement-title">Senova 2023 - WorldSkills 2022</p>
        <p class="achievement-description">
          Se me hizo un reconocimiento de parte del sena por mis aportes en senova al haber desarrollado la plataforma Boricue 
          anteriormente mencionada en mis proyectos personales. <a href="">Ver reconocimiento</a> <br> <br>

          Participe a nivel regional y nacional en el concurso de WorldSkills 2022,
          en la categoria de desarrollo de aplicaciones moviles con java, 
          en la cual ocupe el segundo puesto. <a href="">Ver certificado</a>
        </p>
      </div>
    </div>

    <div class="achievementBox">
      <div class="achievementText">
        <p class="achievement-title">Tercer puesto: Samsung Soluciones para el futuro 2020</p>
        <p class="achievement-description">
          Participamos en el concurso de Samsung soluciones para el futuro con nuestra maquina para el 
          control de mosquitos, principalmente el mosquito Aedes Agypty, principal proliferador del Zika 
          y Chikunguña, ocupamos el tercer puesto en el concurso. 
          Mi rol en el proyecto fue como desarrollador de la maquina desde el area Electronica y Robotica,
          creando un sistema de electrocución y luz ultravioleta que atrae a los mosquitos. <br> <br>

          Enlace a la noticia de Samsung: <a href="https://news.samsung.com/co/samsung-anuncia-los-5-finalistas-de-soluciones-para-el-futuro-y-abre-proceso-de-votacion-del-publico">Samsung</a>
        </p>
        <div class="media-container">
          <div class="videos-wrapper">
            <iframe 
              src="https://www.youtube.com/embed/vOINAVhS5fs" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="achievementBox">
      <div class="achievementText">
        <p class="achievement-title">Premio nacional al inventor Colombiano 2020</p>
        <p class="achievement-description">
          Fuimos unos de los ganadores del Premio Nacional al Inventor Colombiano, participando con
          unas piernas roboticas antiminas, este invento se realizo utilizando el metodo STEAM 
          (Science, Technology, Engineering, Arts and Mathematics). Mi rol en el proyecto fue 
          desarrollando mediante la robotica un olfato electronico que detecta el amoniaco, 
          uno de los principales quimicos que conforman las minas antipersonas.
        </p>
        <div class="media-container">
          <div class="videos-wrapper">
            <iframe 
              src="https://www.youtube.com/embed/kiAXBb41o5E" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen>
            </iframe>
            <iframe 
              src="https://www.youtube.com/embed/aiPFdhA8_RI" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="achievementBox">
      <div class="achievementText">
        <p class="achievement-title">Premio nacional al inventor Colombiano 2019</p>
        <p class="achievement-description">
          Fuimos uno de los ganadores en las categorias del Premio Nacional al inventor Colombiano, 
          con un casco Robotico con gafas 3D, creado para evitar la violencia y adicciones mediante 
          videos y hologramas que transmiten ondas Delta y Alfa al usuario. Mi rol en el proyecto fue 
          enfocado al area Robotica, buscando la manera de implementar las gafas 3D al casco.
        </p>
        <div class="media-container">
          <div class="videos-wrapper">
            <iframe 
              src="https://www.youtube.com/embed/jm0JavV4HWI" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Modal para las imágenes -->
<div class="modal" id="imageModal">
  <span class="close-modal">&times;</span>
  <img class="modal-content" id="modalImage">
  <div id="imageCaption"></div>
</div>
