<section class="about-section">
  <div class="profile-container">
    <div class="foto">
      <img
        src="assets/images/LinkedInImage.png"
        alt="Aca deberia ir mi imagen"
        class="ImagenMarca"
      />
    </div>
    <div class="about-titles">
      <h1 id="text-name">Emanuel Gómez Díaz</h1>
      <h3 id="text-welcome">Desarrollador de Software Fullstack</h3>
    </div>
  </div>
  <div class="about-me">
    <h3>¿Quién soy?</h3>
    <p>
      Soy un desarrollador Fullstack Web y analista de software con formación técnica en programación y tecnología en análisis y
      desarrollo de software. Especializado en el manejo de un stack frontend que incluye React.js, Angular, Material UI, Bootstrap, CSS,
      HTML, y WordPress, así como diversas librerías gráficas. En el ámbito backend, domino tecnologías como JavaScript,
      TypeScript, Python, Java, Node.js, y Yarn. Además, tengo experiencia en la gestión de bases de datos relacionales y no
      relacionales como PostgreSQL, MySQL y Firebase. Mis habilidades se extienden a la arquitectura de software, manejo de
      servidores, documentación técnica y la implementación de metodologías ágiles, con un enfoque en el prototipado eficiente y la
      entrega de soluciones de alta calidad. <br> <br> 

      Soy una persona apasionada por el desarrollo de software, me encanta explorar tecnologias y 
      librerias que faciliten el desarrollo o que permitan llevar una aplicación al limite. 
      Amo los videojuegos, el surrealismo, el pixel art, el arte en general, la musica, 
      el diseño y mi trabajo <3.
    </p>
  </div>
</section>
