<header class="header">
  <div class="container">
    <a href="#" class="logo">
      <img src="assets/icons/IcoTitle.webp" alt="Logo personal" class="logo-icon">
      <span class="logo-text">Emanuel Gómez Díaz</span>
    </a>
    
    <nav class="nav-links">
      <a href="#about" class="nav-item" data-scroll>Sobre mí</a>
      <a href="#experience" class="nav-item" data-scroll>Experiencia</a>
      <a href="#projects" class="nav-item" data-scroll>Proyectos</a>
      <a href="#others" class="nav-item" data-scroll>Otros</a>
      <a href="#study" class="nav-item" data-scroll>Stack</a>
      <a href="#contact" class="nav-item" data-scroll>Contacto</a>
    </nav>

    <div class="header-actions">
      <button (click)="toggleTheme()" class="icon-button" aria-label="Cambiar tema">
        <i class="ri-sun-line" *ngIf="isDarkMode"></i>
        <i class="ri-moon-line" *ngIf="!isDarkMode"></i>
      </button>
      <button (click)="toggleLanguage()" class="icon-button" aria-label="Cambiar idioma">
        <i class="ri-global-line"></i>
        <span>{{ currentLang === 'es' ? 'EN' : 'ES' }}</span>
      </button>
    </div>
  </div>
</header>
