<section class="projects-section">
  <div class="experience-container">
    <h3>Proyectos personales</h3>

    <div class="experienceBox">
      <div class="experienceYear">
        <p>Presente</p>
        <div class="companyLogo">
          <img src="assets/icons/Vertigo.ico" alt="Logo1" />
        </div>
      </div>
      <div class="experienceText">
        <p>VertigoLogistik</p>
        <p>
          Desarrollo de una aplicación de gestión de inventario y personal
          empresarial. Integrando un sistema de conteo de nomina automatico,
          jornada, lectura de codigos de barras, registro de entradas y salidas
          de mercancia y manejo de sesiones y permisos con JWT. Plataforma en
          desarrollo para la empresa Vetigo Logistik eventos y fiestas privadas.
        </p>
        <div class="techStack">
          <span class="techItem">TypeScript</span>
          <span class="techItem">React</span>
          <span class="techItem">Node.js</span>
          <span class="techItem">JWT</span>
        </div>
      </div>
    </div>

    <div class="experienceBox">
      <div class="experienceYear">
        <p>2025</p>
        <div class="companyLogo">
          <img src="assets/icons/MarcaPersonal.png" alt="Logo1" />
        </div>
      </div>
      <div class="experienceText">
        <p>Mi Portafolio</p>
        <p>
          Desarrolle esta pagina utilizando multiples librerias que permiten
          crear animaciones y efectos visuales atractivos, aplicación diseñada
          con Angular y librerias como Three.js (Para utlizar elementos 3D),
          Particles.js (Particulas interactivas), SimpleParallax (Efecto
          Parallax interactivo y atractivo). <br />
          <br />
          Inspirado en el portafolio:
          <a href="https://bonhomme.lol/">Bonhomme</a>
        </p>
        <div class="techStack">
          <span class="techItem">Angular</span>
          <span class="techItem">Node.js</span>
          <span class="techItem">Three.js</span>
          <span class="techItem">SimpleParallax</span>
        </div>
      </div>
    </div>

    <div class="experienceBox">
      <div class="experienceYear">
        <p>2023</p>
        <div class="companyLogo">
          <img src="assets/icons/GitHub.ico" alt="Logo1" />
        </div>
      </div>
      <div class="experienceText">
        <p>Paperros</p>
        <p>
          Proyecto final para la tecnologia en Analisis y Desarrollo de Sistemas
          de Información. Aplicación web con node.js y EJS para facilitar el
          contacto y la agendación de paseos de perros por medio de creación de
          paseos personalizados (creados por los dueños de perros) y paseos en
          manada (creados por los paseadores) donde pueden asignar el lugar, los
          perros a pasear y un lugar con la API de mapas Leaflet. <br />
          <br />
          Enlace a GitHub:
          <a
            href="https://github.com/AprendizCristianRamirez/PaperrosFront
          "
            >PaperrosFront</a
          >
          <br />
          Enlace a GitHub:
          <a href="https://github.com/AprendizCristianRamirez/PaperrosApi">
            PaperrosBack</a
          >
        </p>
        <div class="techStack">
          <span class="techItem">Javascript</span>
          <span class="techItem">Html</span>
          <span class="techItem">Css</span>
          <span class="techItem">Node.js</span>
        </div>
      </div>
    </div>

    <div class="experienceBox">
      <div class="experienceYear">
        <p>2023</p>
        <div class="companyLogo">
          <img src="assets/icons/Sena.png" alt="Logo1" />
        </div>
      </div>
      <div class="experienceText">
        <p>Boricue</p>
        <p>
          Boricue es una pagina web que desarrolle para una subempresa 
          interna del Sena llamada Senova. Esta plataforma permitia a los usuarios publicar sobre
          materiales sobrantes de sus producciones o empresas, enfocada principalmente en el 
          sector agricola y del cuero, con el objetivo de reducir desperdicios y 
          fomentar una economia naranja, me encargue de la parte investigativa del proyecto 
          y del desarrollo completo del proyecto. Desarrolle la totalidad de la aplicación 
          con Javascript, Html, Css, Node.js, MySql. La principal libreria implementada fue 
          Oauth para el login, implemente sistemas de publicacion, cuentas, busquedas y reportes. 
          La pagina se realizo durante mi etapa lectiva en el Sena como Tecnologo.<br />
        </p>
        <div class="techStack">
          <span class="techItem">Javascript</span>
          <span class="techItem">Html</span>
          <span class="techItem">Css</span>
          <span class="techItem">MySql</span>
          <span class="techItem">Node.js</span>
        </div>
      </div>
    </div>

    <div class="experienceBox">
      <div class="experienceYear">
        <p>2021</p>
        <div class="companyLogo">
          <img src="assets/icons/GitHub.ico" alt="Logo1" />
        </div>
      </div>
      <div class="experienceText">
        <p>LaboralPlace</p>
        <p>
          Realice durante mi etapa practica como Tecnico en Desarrollo de
          Software una pagina web que facilita la búsqueda y la publicación de
          ofertas de empleo, con un sistema de registro de usuarios e ingreso de
          los mismos, barra de búsqueda de empleos, y formulario de publicación
          de empleos vinculado a una base de datos. <br />
          <br />

          Enlace a GitHub:
          <a href="https://github.com/EmanuelGd300/LaboralPlace"
            >LaboralPlace</a
          >
        </p>
        <div class="techStack">
          <span class="techItem">Javascript</span>
          <span class="techItem">PHP</span>
          <span class="techItem">HTML</span>
          <span class="techItem">CSS</span>
        </div>
      </div>
    </div>
  </div>
</section>
