:root {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: black;
}

body.dark-theme {
  --background-color: #000000;
  --text-color: #ffffff;
  --primary-color: #4da6ff;
  --hover-color: #2a2a2a;
}

/* Asegúrate de que otros elementos sean visibles en modo oscuro */
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode p {
  color: #ffffff;
}

/* Fonts: */

.tiny5-regular {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gabarito-regular {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}