<section class="experience-section">
  <div class="experience-container">
    <h3>Experiencia Laboral</h3>

    <div class="experienceBox">
      <div class="experienceYear">
        <p>04/2025 - Presente</p>
        <div class="companyLogo">
          <img src="assets/icons/GcIco.ico" alt="Logo1" />
        </div>
      </div>
      <div class="experienceText">
        <p>Desarrollador de Software Fullstack</p>
        <p>Garantias Comunitarias</p>
        <p>
          Desarrollador de Software fullstack, enfocado en el desarrollo de
          aplicaciones empresariales para clientes externos utilizando
          frameworks como Angular y Laravel.
        </p>
        <div class="techStack">
          <span class="techItem">Angular</span>
          <span class="techItem">Laravel</span>
          <span class="techItem">Typescript</span>
          <span class="techItem">PHP</span>
        </div>
      </div>
    </div>

    <div class="experienceBox">
      <div class="experienceYear">
        <p>08/2022 - 02/2023</p>
        <div class="companyLogo">
          <img src="assets/icons/CordIco.ico" alt="Logo2" />
        </div>
      </div>
      <div class="experienceText">
        <p>Desarrollador de Software Fullstack</p>
        <p>Coordinadora Mercantil</p>
        <p>
          Durante mi periodo de práctica en Coordinadora Mercantil, desempeñé el
          rol de desarrollador de software. Mis responsabilidades abarcaron
          tanto el desarrollo de software en el frontend como en el backend.
          Además, brindé soporte para servicios de software y servidores, llevé
          a cabo análisis detallado de software y trabajé bajo metodologías
          ágiles como SCRUM y XP. Durante este tiempo, colaboré eficazmente en
          equipos de trabajo, empleando principalmente Typescript y bibliotecas
          como React.js, Docker y Redis. Es importante destacar que en el
          desarrollo del backend implementé arquitecturas hexagonales para
          optimizar la estructura, mientras que en el frontend seguí el enfoque
          de diseño atómico para garantizar una interfaz coherente y eficiente.
        </p>
        <div class="techStack">
          <span class="techItem">TypeScript</span>
          <span class="techItem">React</span>
          <span class="techItem">PostgreSQL</span>
          <span class="techItem">Material UI</span>
        </div>
      </div>
    </div>
  </div>
</section>
